<div class="mod-vocabcoach-mobile p-3">
    <h3>Vokabelkasten</h3>

    <p>Hallo, {{username}}!</p>

    <!-- Beispielhafte Platzhalter; ersetze sie mit echter Funktionalität -->
    <div>
        <a class="btn btn-primary" href="view.php?id={{cmid}}">
        Hier werden Dinge angezeigt.
        </a>
    </div>
</div>
