<h4 class="mt-5">{{#str}}view_class_total, mod_vocabcoach {{/str}}</h4>
<hr>
<div style="height: 120px">
<div style="text-align: center;">
    <div class="streak" style="width: 75%; font-size: 80px"><span id="vocabcoach-class-total"></span>{{total}}</div>
</div>

</div><div style="height: 120px">
</div>
