<h4 class="mt-5">{{#str}}leaderboard, mod_vocabcoach{{/str}}</h4>
<hr>

<table class="generaltable table">
    <tbody>
    <tr>
        <th class="rank">{{#str}}leaderboard_rank, mod_vocabcoach{{/str}}</th>
        <th class="name">{{#str}}name, mod_vocabcoach{{/str}}</th>
        <th class="number">{{#str}}leaderboard_due, mod_vocabcoach{{/str}}</th>
    </tr>
    {{#leaders}}
    <tr class="leader{{#self}} self{{/self}}">
        <td class="rank">{{rank}}</td>
        <td class="name">{{firstname}} {{lastname}}</td>
        <td class="number">{{number}}</td>
    </tr>
    {{/leaders}}
    </tbody>
</table>