<h2>{{#str}}lists, mod_vocabcoach{{/str}}</h2>

<p>{{#str}}intro_lists, mod_vocabcoach{{/str}}</p>

<div class="user-switch-container mb-3" data-action="mod_vocabcoach/toggle-user-switch">
    <label class="mr-2 mb-0{{#onlyOwnLists}} text-primary{{/onlyOwnLists}}" for="userswitch">
        {{#str}}lists_onlyown, mod_vocabcoach{{/str}}
    </label>
    <div class="custom-control custom-switch" style="display: inline;">
        <input type="checkbox"{{!
                }} class="custom-control-input"{{!
                }} id="userswitch"{{!
                }} {{#onlyOwnLists}} {{!
                    }} checked {{!
                }}
                {{/onlyOwnLists}} {{!
        }}>
        <span class="custom-control-label">&nbsp;</span>
    </div>
</div>

<table id="table-list" class="table generaltable">



<tbody>
<tr data-list-id="{{id}}">
    <th>{{#str}}name, mod_vocabcoach{{/str}}</th>
    <th class="secondary">{{#str}}year_short, mod_vocabcoach{{/str}}</th>
    <th class="secondary">{{#str}}book, mod_vocabcoach{{/str}}</th>
    <th class="secondary">{{#str}}unit, mod_vocabcoach{{/str}}</th>
    <th>{{#str}}count, mod_vocabcoach{{/str}}</th>
    <th>{{#str}}creator, mod_vocabcoach{{/str}}</th>
    <th>{{#str}}actions, mod_vocabcoach{{/str}}</th>
</tr>
{{^loading}}
    {{^lists}}
        <td colspan="7" class="text-center">
            <span>{{#str}}lists_empty, mod_vocabcoach{{/str}}</span>
        </td>
    {{/lists}}
{{/loading}}
{{#lists}}
<tr data-list-id="{{id}}">
    <td>
        {{#private}}<i class="fa fa-user-secret pr-2" aria-hidden="true"></i>{{/private}}
        <a href="viewlist.php?id={{cmid}}&listid={{id}}">{{title}}</a></td>
    <td class="secondary">{{year}}</td>
    <td class="secondary">{{book}}</td>
    <td class="secondary">{{unit}}</td>
    <td>{{number}}</td>
    <td>{{creator}}</td>
    <td>
        {{> mod_vocabcoach/lists_action_menu}}
    </td>
</tr>
{{/lists}}
</tbody>

</table>
{{#loading}}
<div class="spinner-container">
    <div class="spinner"></div>
</div>
{{/loading}}