<div class="ms-auto dropdown">
    <a href="#" class="btn btn-link btn-icon colour-inherit text-decoration-none d-flex " role="button" data-bs-toggle="dropdown" data-bs-boundary="window" aria-haspopup="true" tabindex="0" aria-controls="list-{{id}}-menu" aria-label="{{#str}}actions_show_actions, mod_vocabcoach{{/str}}" aria-expanded="false">
        <i class="fa fa-ellipsis-v text-dark  py-2" aria-hidden="true"></i>
    </a>
    <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="list-{{id}}-menu"
            data-rel="menu-content"
            role="menu"
            id="list-{{id}}-menu"
    >
        <a
                class="dropdown-item menu-action"
                role="menuitem"
                tabindex="-1"
                data-targetstate="0"
                title="{{#str}}actions_start_check, mod_vocabcoach{{/str}}"
                href="#"
                data-list-id="{{id}}"
                data-action="mod_vocabcoach/check_list"
        >
            <i class="fa fa-question-circle-o text-dark  pr-2" aria-hidden="true"></i>
            <span class="menu-action-text">{{#str}}actions_start_check, mod_vocabcoach{{/str}}</span>
        </a>
        <a
                class="dropdown-item menu-action"
                role="menuitem"
                tabindex="-1"
                data-targetstate="0"
                title="{{#str}}actions_add_to_my_box, mod_vocabcoach{{/str}}"
                href="#"
                data-list-id="{{id}}"
                data-action="mod_vocabcoach/add_list_to_user"
        >
            <i class="fa fa-save text-dark  pr-2" aria-hidden="true"></i>
            <span class="menu-action-text">{{#str}}actions_add_to_my_box, mod_vocabcoach{{/str}}</span>
        </a>
        <a
                class="dropdown-item menu-action"
                role="menuitem"
                tabindex="-1"
                data-targetstate="0"
                title="{{#str}}actions_export_pdf, mod_vocabcoach{{/str}}"
                href="#"
                data-list-id="{{id}}"
                data-action="mod_vocabcoach/show_pdf"
        >
            <i class="fa fa-copy text-dark  pr-2" aria-hidden="true"></i>
            <span class="menu-action-text">{{#str}}actions_export_pdf, mod_vocabcoach{{/str}}</span>
        </a>
        <a
                class="dropdown-item menu-action"
                role="menuitem"
                tabindex="-1"
                data-targetstate="0"
                title="{{#str}}actions_export_csv, mod_vocabcoach{{/str}}"
                href="#"
                data-list-id="{{id}}"
                data-action="mod_vocabcoach/show_csv"
        >
            <i class="fa fa-code text-dark  pr-2" aria-hidden="true"></i>
            <span class="menu-action-text">{{#str}}actions_export_csv, mod_vocabcoach{{/str}}</span>
        </a>
        {{#editable}}
            <div class="dropdown-divider"></div>
            <a
                    class="dropdown-item menu-action"
                    role="menuitem"
                    tabindex="-1"
                    data-targetstate="0"
                    title="{{#str}}actions_edit, mod_vocabcoach{{/str}}"
                    href="#"
                    data-list-id="{{id}}"
                    data-action="mod_vocabcoach/edit_list"
            >
                <i class="fa fa-edit text-dark  pr-2" aria-hidden="true"></i>
                <span class="menu-action-text">{{#str}}actions_edit, mod_vocabcoach{{/str}}</span>
            </a>
            <a
                    class="dropdown-item menu-action"
                    role="menuitem"
                    tabindex="-1"
                    data-targetstate="0"
                    title="{{#str}}actions_delete, mod_vocabcoach{{/str}}"
                    href="#"
                    data-list-id="{{id}}"
                    data-action="mod_vocabcoach/delete_list"
            >
                <i class="fa fa-trash-o text-dark  pr-2" aria-hidden="true"></i>
                <span class="menu-action-text">{{#str}}actions_delete, mod_vocabcoach{{/str}}</span>
            </a>
        {{/editable}}
        {{#distributable}}
            <a
                    class="dropdown-item menu-action"
                    role="menuitem"
                    tabindex="-1"
                    data-targetstate="0"
                    title="{{#str}}actions_distribute_to_course, mod_vocabcoach{{/str}}"
                    href="#"
                    data-list-id="{{id}}"
                    data-action="mod_vocabcoach/distribute_list"
            >
                <i class="fa fa-share-square-o text-dark  pr-2" aria-hidden="true"></i>
                <span class="menu-action-text">{{#str}}actions_distribute_to_course, mod_vocabcoach{{/str}}</span>
            </a>
        {{/distributable}}
    </div>

</div>