{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vocabcoach/boxes


    Example context (json):
    {

    }
}}

<h1>Karteikasten</h1>

<h4 class="mt-5">Aktionen</h4>
<hr>
<input type="button" class="btn btn-primary" value="Vokabeln hinzufügen" data-action="mod_vocabcoach/add_vocab_user">
<input type="button" class="btn btn-primary" value="Neue Vokabelliste erstellen" data-action="mod_vocabcoach/add_vocab_list">
<input type="button" class="btn btn-primary" value="Vokabellisten anzeigen" data-action="mod_vocabcoach/show_lists">


<h4 class="mt-5">Dein Vokabelkasten</h4>
<hr>
<div id="vocabcoach-box-container">

    {{#boxdata}}
    <div
        class="box {{#inactive}}box-faded{{/inactive}}"
        data-due="{{due}}"
        data-stage="{{stage}}"
        data-action="mod_vocabcoach/check_box"
    >
        <span class="box-title">Fach {{stage}}</span>
        <span class="box-numbers">{{due}} / {{total}}</span>
    </div>
    {{/boxdata}}

</div>

<div class="clearfix"></div>

<h4 class="mt-5">Aktivität</h4>
<hr>
<div class="activity-report">
    <span class="streak">Durchgehend eingeloggt seit {{days_logged_in}} Tagen.</span>
    <span class="streak">Durchgehend alle Vokabeln wiederholt seit {{days_checked_all}} Tagen.</span>
</div>


