.box {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ccc;
    margin: 15px;
    cursor: pointer;
    float: left;
}

.box-title {
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.box-numbers {
    font-size: x-large;
    padding: 10px;
    text-align: center;
}

.box-top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    border-bottom: 4px solid #5f021f;
    background-color: #999;
    color: white;
    padding: 10px;
}

.box-bottom-line {
    background-color: rgb(59 130 246 / 0.5);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    min-height: 4rem;
}

.box.box-faded .box-bottom-line {
    opacity: 0.3;
}
