#vocabcoach-box-container {
    text-align: center;
}

.box {
    background-color: #ccc;
    margin: 15px;
    cursor: pointer;
    display: inline-block;

    --vc-top-bg: #0f6cbf;
    --vc-bottom-done: #758e4f;
    --vc-bottom-todo: #f26419;
    --vc-bottom-empty: #0f6cbf;
}

.box-title {
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: var(--bs-white);
}

.box-numbers {
    font-size: x-large;
    padding: 10px;
    text-align: center;
    color: var(--bs-white);
    font-weight: bold;
}

.box-top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: var(--vc-top-bg);
    color: var(--bs-white);
    padding: 10px;
    border-bottom: 3px solid var(--bs-white);
}

.box-bottom-line {
    align-content: center;
    justify-content: center;
    min-height: 4rem;
}

.box.done .box-bottom-line {
    background-color: var(--vc-bottom-done);
    opacity: 0.8;
}

.box.empty .box-bottom-line  {
    background-color: var(--vc-bottom-empty);
    opacity: 0.5;
}

.box.todo .box-bottom-line {
    background-color: var(--vc-bottom-todo);
    opacity: 0.8;
}

.leader.self {
    color: #0f6cbf;
}