#check-buttons {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

#check-buttons.hidden {
    display: none;
}

.check-box {
    border: 1px solid grey;
    border-radius: 10px;
    width: 85%;
    height: 25vh;
    text-align: center;
    margin: 15px auto;
    overflow-y: scroll;
}

.check-box.hidden {
    display: none !important;
}

.vc-check-label{
    font-size: xx-large;
    margin: auto;
    padding: 0.5rem 0.25rem;
}

.check-summary {
    height: calc(40vh + 30px);
    margin: auto;
    width: 85%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.check-summary.hidden {
    display: none;
}

.check-summary > div {
    margin-bottom: 1rem;
}

.check-summary:hover {
    background-color: #f5f9fc;
    border: 1px solid #3584c9;
}

.check-summary-known,
.check-summary-total {
    font-size: xx-large;
    font-weight: bold;
}

input.wrong {
    animation: shake .5s;
    border-color: #e70a0a;
}

@keyframes shake {
    20% {
        transform: translate(8px);
    }
    40% {
        transform: translate(-8px);
    }
    60% {
        transform: translate(8px);
    }
    80% {
        transform: translate(-8px);
    }
}

.check-number-remaining {
    float: right;
}

.instruction-front-back-random {
    float: left;
}

#input-vocab-front {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-size: x-large;
    text-align: center;
}


#check-area {
    overflow: hidden;
    position: relative;
}

#check-type-area {
    margin: 15px auto;
    width: 85%;
    text-align: center;
}

#check-area.animation-slide-out {
    animation: fadeOut .3s linear;
}
#check-area.animation-slide-in {
    animation: fadeIn .3s linear;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#progress-bar {
    height: 12px;
    position: relative;
    overflow: hidden;
}

#progress-bar > div {
    transition: all .5s;
    width: 100%;
    position: absolute;
}

.vocab-dot {
    height: 100%;
    border: 5px solid #dddbd9;
    border-radius: 50%;
    width: .5rem;
}

.vocab-dot.dot-green {
    border-color: #0a0;
}

.vocab-dot.dot-red {
    border-color: #d11e15;
}
