#check-buttons {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

#check-box-front,
#check-box-back {
    border: 1px solid grey;
    border-radius: 10px;
    width: 85%;
    height: 20vh;
    text-align: center;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#check-box-front.hidden,
#check-box-back.hidden {
    display: none;
}

#check-front,
#check-back {
    font-size: xx-large;
}


.check-summary {
    height: calc(40vh + 30px);
    margin: auto;
    width: 85%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.check-summary.hidden {
    display: none;
}

.check-summary > div {
    margin-bottom: 1rem;
}

.check-summary:hover {
    background-color: #f5f9fc;
    border: 1px solid #3584c9;
}

.check-summary-known,
.check-summary-total {
    font-size: xx-large;
    font-weight: bold;
}

input.wrong {
    animation: shake .5s;
    border-color: #e70a0a;
}

@keyframes shake {
    20% {
        transform: translate(8px);
    }
    40% {
        transform: translate(-8px);
    }
    60% {
        transform: translate(8px);
    }
    80% {
        transform: translate(-8px);
    }
}

.check-number-remaining {
    float: right;
}

.instruction-front-back-random {
    float: left;
}

#input-vocab-front {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0.5rem;
    font-size: x-large;
    text-align: center;
}


#check-area {
    overflow: hidden;
    position: relative;
}

#check-type-area {
    margin: 15px auto;
    width: 85%;
    text-align: center;
}

#check-area.animation-slide-out {
    animation: slideOut 5s linear;
}
#check-area.animation-slide-in {
    animation: slideIn 5s linear;
}

/* Keyframes for the animation */
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    1% {
        transform: translateX(100%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
